/* color palette from <https://github.com/vuejs/theme> */
:root {
  --ks-black: #11161b;
  --ks-black-hard: #0b0e11;
  --ks-black-soft: #192027;
  --ks-pink: #da01ff;
  --ks-teal: #30b2af;
  --ks-blue: #72ccff; 
  --ks-white: #ffffff;
  --ks-white-soft: #f8f8f8;
  --ks-white-mute: #f2f2f2c9;
  --ks-grey: #9e9e9ec9;
  --nav-width: 10rem;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--ks-black);
  --color-background-soft: var(--ks-black-soft);
  --color-border-teal: var(--ks-teal);
  --color-border: var(--ks-white-soft);
  --color-text: var(--ks-white-soft);
  --color-menu: var(--ks-white);
  --color-shadow: var(--ks-black-hard);
  --section-gap: 160px;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--ks-white);
    --color-background-soft: var(--ks-white-soft);
    --color-border-hard: var(--ks-black);
    --color-border: var(--ks-black-soft);
    --color-text: var(--ks-black-soft);
    --color-menu: var(--ks-black);
    --color-shadow: var(--ks-grey);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
